# Virtual environments
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Temporary render files
temp_img_holder/

# Generated output
*.mp4

# Windows
desktop.ini
Thumbs.db

# macOS
.DS_Store

# VS Code (optional)
.vscode/

# reference artifacts
artifacts/